@using System.Web.Optimization
@using System.Web.UI.WebControls
@using System.Web.UI.WebControls.Expressions
@using Abp.Authorization
@using Abp.Web.Mvc.Extensions
@using Vickn.Platform.Attendances.Statisticls.Authorization;



<div class="row animated fadeInRight">
    <div class="ibox-content">
        <div class="form-inline">

            <div class="form-group">

                <button type="button" class="btn btn-default" onclick="closeCurrentPage();"><i class="fa fa-close">@L("Back")</i></button>
                <label>@L("User.Name")</label>
                <input type="text" placeholder="@L("FilterText")" class="form-control" id="UserName" value="@ViewBag.UserName" style="width: 150px;" />
                <label>@L("StartTime")</label>
                <input type="text" Id="StartTime" onclick="laydate()" value="@ViewBag.StartTime" class="form-control" style="width: 150px;" />
                <label>@L("EndTime")</label>
                <input type="text" Id="EndTime" onclick="laydate()" value="@ViewBag.EndTime" class="form-control" style="width: 150px;" />
                <label>@L("KqShift.Name")</label>
                <select class="form-control valid" id="KqShiftName" name="KqShiftName" aria-invalid="false">
                    @foreach (var item in ViewBag.KqShiftList)
                    {
                        if (item.ShiftName == ViewBag.KqShiftName)
                        {
                            <option value="@item.ShiftName" selected="selected">@item.ShiftName</option>
                        }
                        else
                        {
                            <option value="@item.ShiftName">@item.ShiftName</option>
                        }

                    }
                </select>

                <label>@L("QDType")</label>
                <select class="form-control valid" id="IsUnusual" name="IsUnusual" aria-invalid="false">  
                    @foreach (var item in ViewBag.IsUnusuallist)
                    {
                        if (item == ViewBag.IsUnusual)
                        {
                            <option value="@item" selected="selected">@item</option>
                        }
                        else
                        {
                            <option value="@item">@item</option>
                        }
                    }
                </select>


                <button type="button" class="btn btn-default" id="research"><span class="glyphicon glyphicon-refresh"></span> @L("ReSearch")</button>
                <button type="button" class="btn btn-success" id="search" name=""><span class="glyphicon glyphicon-search"></span> @L("Search")</button>


                <span class="field-validation-valid text-danger" data-valmsg-for="DataDictionaryItems" data-valmsg-replace="true"></span>


                <a href="javascript:;" class="btn btn-danger" onclick="Export()"><span class="glyphicon glyphicon"></span> @L("Export")</a>
            </div>
        </div>
    </div>

    <div class="ibox-content">
        <table class="table table-bordered table-hover dataTable">
            <thead>
                <tr>
                    <th>@L("User.Name")</th>
                    <th>@L("GroupName")</th>
                    <th>@L("KqShift.Name")</th>
                    <th>@L("QDDate")</th>
                    <th>@L("KqShift.WorkTime")</th>
                    <th>@L("OutgoingCauseWork")</th>
                    <th>@L("QDPostionWork")</th>
                    <th>@L("KqShift.ClosingTime")</th>
                    <th>@L("OutgoingCauseClosing")</th>
                    <th>@L("QDPostionClosing")</th>
                    <th>@L("QDTypes")</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


@section styles{


}

@section scripts
{


    <script src="~/Areas/KqStatistics/Views/KqStatistic/Detail_js.js"></script>


}
