@using System.Web.Optimization
@using Abp.Web.Mvc.Extensions
@using Vickn.Platform.OrganizationUnits.Authorization
@using Vickn.Platform.Users.Authorization
@{
    ViewBag.Menu = L("SystemManage");
    ViewBag.SubMenu = L("OrganizationUnit");
    ViewBag.createBtn = L("CreateOrganizationUnit");
    ViewBag.editBtn = L("EditOrganizationUnit");

    ViewBag.ActiveMenu = "OrganizationUnits"; //The menu item will be active for this page.

}
<div class="row animated fadeInRight">
    <div class="col-md-2">
        <div class="organizationUnit ztree"></div>
    </div>
    <div class="col-md-10">
        <div class="ibox-content">
            <div class="form-inline">
                <div class="form-group">
                    @if (IsGranted(OrganizationUnitAppPermissions.OrganizationUnit_DeleteOrganizationUnit))
                    {
                        <a href="javascript:;" class="btn btn-danger" id="batchDelete"><span class="glyphicon glyphicon-trash"></span> @L("BatchDelete")</a>
                    }
                    @if (IsGranted(OrganizationUnitAppPermissions.OrganizationUnit_CreateOrganizationUnit))
                    {
                        <a href="javascript:;" class="btn btn-primary" id="create" data-title="@ViewBag.createBtn">
                            <span class="glyphicon glyphicon-plus"></span> @ViewBag.createBtn
                        </a>
                    }
                    <input type="text" placeholder="@L("OrganizationUnit.DisplayName")" class="form-control" id="displayName"/>
                    <button type="button" class="btn btn-success" id="search" name=""><span class="glyphicon glyphicon-search"></span> @L("Search")</button>
                    <button type="button" class="btn btn-default" id="research"><span class="glyphicon glyphicon-refresh"></span> @L("ReSearch")</button>
                </div>
            </div>
        </div>

        <div class="ibox-content">
            <table class="table table-striped table-bordered table-hover dataTable">
                <thead>
                    <tr class="text-c">
                        <th width="25"><input type="checkbox"></th>
                        <th>@L("OrganizationUnit.DisplayName")</th>
                        <th>@L("CreationTime")</th>
                        <th>@L("Operational")</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>

@section styles{
    @Styles.Render("~/Bundles/lib/css/ztree/metro")
}
@section scripts{
    @Scripts.Render("~/Bundles/lib/js/ztree/core")
    @Html.IncludeScript("~/Views/OrganizationUnits/_OrganizationUnitTree.js")
    @Html.IncludeScript("~/Views/OrganizationUnits/Index.js")
}
