@using System.Web.Optimization
@using Abp.Web.Mvc.Extensions
@using Vickn.Platform.Users.Authorization
@model Vickn.PlatfForm.Utils.Pager.PagerResult<Vickn.Platform.Organizations.Dto.OrganizationUnitDto, Vickn.Platform.Organizations.Dto.GetOrganizationUnitInput>
@{
    ViewBag.Menu = L("OrganizationUnit");
    ViewBag.SecMenu = L("OrganizationUnit");
    ViewBag.tableTitle = "组织列表";
    ViewBag.createBtn = L("CreateOrganizationUnit");
    ViewBag.editBtn = L("EditOrganizationUnit");

    ViewBag.ActiveMenu = "OrganizationUnits"; //The menu item will be active for this page.

}
<div class="pos-a" style="width:200px;left:0;top:0; bottom:0; height:100%; border-right:1px solid #e5e5e5; background-color:#f5f5f5; overflow:auto;">
    <div class="organizationUnit ztree"></div>
</div>
<div style="margin-left:200px;">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页<span class="c-gray en">&gt;</span> @ViewBag.Menu <span class="c-gray en">&gt;</span> @ViewBag.SecMenu <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        <div class="text-c">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.TextBoxFor(model => model.Input.DisplayName, new { @class = "input-text", style = "width: 250px", placeholder = "输入组织名称" })
                <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
            }
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
                @if (IsGranted(UserAppPermissions.User_DeleteUser))
            {
                    <a href="javascript:;" class="btn btn-danger radius btn-delAll " data-url="@Url.Action("BatchDelete")"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
                }
                @if (IsGranted(UserAppPermissions.User_CreateUser))
            {
                    <a href="javascript:;" class="btn btn-primary radius btn-openWindow" data-url="@Url.Action("Create", new { parentId = Model.Input.ParentId })" data-title="@ViewBag.createBtn">
                        <i class="Hui-iconfont">&#xe600;</i> @ViewBag.createBtn
                    </a>
                }
            </span> <span class="r">共有数据：<strong>@Model.DataList.Count()</strong> 条</span>
        </div>
        <table class="table table-border table-bordered table-bg">
            <thead>
                <tr>
                    <th scope="col" colspan="9">@ViewBag.tableTitle</th>
                </tr>
                <tr class="text-c">
                    <th width="25"><input type="checkbox"></th>
                    <th>组织名称</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DataList)
            {
                    <tr class="text-c">
                        <td><input type="checkbox" class="check-box" name="check-box" value="@item.Id"></td>
                        <td>@item.DisplayName</td>
                        <td class="td-status">@item.CreationTime</td>
                        <td class="td-manage">
                            @if (IsGranted(UserAppPermissions.User_EditUser))
                            {
                                <a title="编辑" href="javascript:;" class="ml-5 btn-openWindow" data-title="@ViewBag.editBtn" data-url="@Url.Action("Create", new {id = item.Id})" style="text-decoration: none"><i class="Hui-iconfont">&#xe6df;</i></a>
                            }
                            @if (IsGranted(UserAppPermissions.User_DeleteUser))
                            {
                                <a title="删除" href="javascript:;" class="ml-5 btn-delete" style="text-decoration: none" data-url="@Url.Action("Delete", new {id = item.Id})"><i class="Hui-iconfont">&#xe6e2;</i></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Raw(Model.PagerHtml())
    </div>
</div>

@section styles{
    @Styles.Render("~/Bundles/lib/css/ztree/metro")
}
@section scripts{
    @Scripts.Render("~/Bundles/lib/js/ztree/core")
    @Html.IncludeScript("~/Views/OrganizationUnits/_OrganizationUnitTree.js")
    @Html.IncludeScript("~/Views/OrganizationUnits/Index.js")
}
