@using Abp.Web.Mvc.Extensions
@using Microsoft.Owin.Security
@model Vickn.Platform.Web.Models.Account.LoginFormViewModel
@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@section Scripts
{
    @Html.IncludeScript("~/Views/Account/Login.js")
}


@section styles{

    <link href="~/css/css.css" rel="stylesheet" />
    @*<link href="~/css/jkreset1.0.css" rel="stylesheet" />*@
}

<div id="log-in-wp">
   
    <ul class="hzoom yahei log-way">
        <li class="fl curr"></li>

    </ul>
    <form id="LoginForm" class="m-t" role="form" action="@(Url.Action("Login", "Account"))?returnUrl=@(Model.ReturnUrl)" method="POST">
        @if (Model.IsMultiTenancyEnabled)
    {
        <div class="form-group">
            <input type="text" class="form-control" id="TenancyName" placeholder="@L("TenancyName")" required maxlength="@Vickn.Platform.MultiTenancy.Tenant.MaxTenancyNameLength">
        </div>

}
else
{
    <input type="hidden" id="TenancyName" value="">
}
    <div class="log-form">
    
            <ul class="log-ul">
                <li class="user">
                    <input type="text" name="UserName" id="EmailAddressInput" class="clear-def-value ipt-1" placeholder="用户名">
                </li>
                <li class="pwd">
                    <input type="password" name="UPassword" id="PasswordInput" class="clear-def-value ipt-1" placeholder="密码">
                </li>
                <li class="vrfy">
                    <input type="text" name="Ucode" id="vCode" class="clear-def-value ipt-1" placeholder="验证码">@(new Random().Next(1000,9999))
                </li>
                <li class="sub">
                    <input type="submit"  id="LoginButton" value="登&emsp;录">
                </li>
                <li class="fg-pwd"><a href="/Login/GetPassword">忘记密码？</a></li>
            </ul>
       
    </div>


       
    </form>
</div>



