@using System.Web.Script.Serialization
@using Abp.Web.Mvc.Extensions
@model Vickn.Platform.Web.Models.Account.ResetPasswordViewModel
@section Scripts
{
    @Html.IncludeScript("~/Views/Account/ResetPassword.js")
}
@section Styles
{
    <link href="~/Content/H-ui.admin_v3.0/static/h-ui.admin/css/H-ui.login.css" rel="stylesheet" />
}
<div class="header"></div>
<div class="loginWraper">
    <div id="loginform" class="loginBox">
        <form class="pass-reset-form" action="@Url.Action("ResetPassword")" method="post">
            @Html.AntiForgeryToken()
            <h3>@L("ChangePassword")</h3>
            <p>
                @L("PleaseEnterYourNewPassword")
            </p>
            <input type="hidden" name="TenantId" value="@Model.TenantId">
            <input type="hidden" name="UserId" value="@Model.UserId">
            <input type="hidden" name="ResetCode" value="@Model.ResetCode">
            <div class="row cl">
                <label class="form-label col-xs-3" style="margin-right: -100px;">@L("Password")</label>
                <div class="formControls col-xs-8">
                    <input class="input-text" type="password" autocomplete="off" id="Password" placeholder="@L("Password")" name="Password" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">@L("PasswordRepeat")</label>
                <input class="input-text;" type="password" autocomplete="off" placeholder="@L("PasswordRepeat")" name="PasswordRepeat" required />
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-success uppercase pull-right">@L("Submit")</button>
            </div>
        </form>
    </div>
</div>
<div class="footer">Copyright Vickn by H-ui.admin v3.0</div>