@using System.Web.Script.Serialization
@using Abp.Web.Mvc.Extensions
@model Vickn.Platform.Web.Models.Account.ResetPasswordViewModel
@section Scripts
{
    @Html.IncludeScript("~/Views/Account/ResetPassword.js")
}
@section Styles
{
    <link href="~/Content/H-ui.admin_v3.0/static/h-ui.admin/css/H-ui.login.css" rel="stylesheet" />
}
<div class="header"></div>
<div class="loginWraper">
    <div id="loginform" class="loginBox">
        <form class="form form-horizontal" action="@Url.Action("ResetPassword")" method="post">
            @Html.AntiForgeryToken()
            <center>
                <h3>@L("ChangePassword")</h3>
            </center>
            <input type="hidden" name="TenantId" value="@Model.TenantId">
            <input type="hidden" name="UserId" value="@Model.UserId">
            <input type="hidden" name="ResetCode" value="@Model.ResetCode">
        
            
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
                <div class="formControls col-xs-8">
                    <input class="input-text" type="password" autocomplete="off" id="Password" placeholder="@L("Password")" name="Password" required />
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
                <div class="formControls col-xs-8">
                    <input class="input-text" type="password" autocomplete="off" placeholder="@L("PasswordRepeat")" name="PasswordRepeat" required />
                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <button id="LoginButton" type="submit" class="btn btn-primary radius size-L"> &nbsp;保&nbsp;&nbsp;&nbsp;&nbsp;存&nbsp;</button>
                    <input name="" type="reset" class="btn btn-default radius size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;" onclick="window.location.href='@Url.Action("Login")'">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="footer">Copyright Vickn by H-ui.admin v3.0</div>