@using System.Web.Script.Serialization
@using Abp.Web.Mvc.Extensions
@model Vickn.Platform.Web.Models.Account.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@section Scripts
{
    @Html.IncludeScript("~/Views/Account/ResetPassword.js")
}
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <h1 class="logo-name">V<small>ickn</small></h1>
    </div>
    <h3>@L("ChangePassword")</h3>
    <form class="form form-horizontal" action="@Url.Action("ResetPassword")" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="TenantId" value="@Model.TenantId">
        <input type="hidden" name="UserId" value="@Model.UserId">
        <input type="hidden" name="ResetCode" value="@Model.ResetCode">


        <div class="form-group">
            <input class="form-control" type="password" autocomplete="off" id="Password" placeholder="@L("Password")" name="Password" required />
        </div>
        <div class="form-group">
            <input class="form-control" type="password" autocomplete="off" placeholder="@L("PasswordRepeat")" name="PasswordRepeat" required />
        </div>
        <button id="LoginButton" type="submit" class="btn btn-primary radius size-L"> &nbsp;保&nbsp;&nbsp;&nbsp;&nbsp;存&nbsp;</button>
        <input name="" type="reset" class="btn btn-default radius size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;" onclick="window.location.href='@Url.Action("Login")'">
    </form>
</div>