@model Vickn.Platform.Users.Dtos.GetUserForEdit

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new {@class = "Huialert Huialert-danger summary-validation-error"})

        <div class="form form-horizontal">
            <!--隐藏字段-->
            <div class="hidden">
                @Html.HiddenFor(model => model.UserEditDto.IsActive)
                @Html.HiddenFor(model => model.UserEditDto.Id)
                @Html.HiddenFor(model => model.OuId)
            </div>
            <div class="row cl">
                @Html.LabelFor(model => model.UserEditDto.Name, htmlAttributes: new {@class = "form-label col-xs-4 col-sm-3"})
                <div class="formControls col-xs-8 col-sm-8">
                    @Html.EditorFor(model => model.UserEditDto.Name, new {htmlAttributes = new {@class = "input-text"}})
                    @Html.ValidationMessageFor(model => model.UserEditDto.Name, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="row cl">
                @Html.LabelFor(model => model.UserEditDto.UserName, htmlAttributes: new {@class = "form-label col-xs-4 col-sm-3"})
                <div class="formControls col-xs-8 col-sm-8">
                    @Html.EditorFor(model => model.UserEditDto.UserName, new {htmlAttributes = new {@class = "input-text"}})
                    @Html.ValidationMessageFor(model => model.UserEditDto.UserName, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="row cl">
                @Html.LabelFor(model => model.UserEditDto.Surname, htmlAttributes: new {@class = "form-label col-xs-4 col-sm-3"})
                <div class="formControls col-xs-8 col-sm-8">
                    @Html.EditorFor(model => model.UserEditDto.Surname, new {htmlAttributes = new {@class = "input-text"}})
                    @Html.ValidationMessageFor(model => model.UserEditDto.Surname, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="row cl">
                @Html.LabelFor(model => model.UserEditDto.PhoneNumber, htmlAttributes: new {@class = "form-label col-xs-4 col-sm-3"})
                <div class="formControls col-xs-8 col-sm-8">
                    @Html.EditorFor(model => model.UserEditDto.PhoneNumber, new {htmlAttributes = new {@class = "input-text"}})
                    @Html.ValidationMessageFor(model => model.UserEditDto.PhoneNumber, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="row cl">
                @Html.LabelFor(model => model.UserEditDto.EmailAddress, htmlAttributes: new {@class = "form-label col-xs-4 col-sm-3"})
                <div class="formControls col-xs-8 col-sm-8">
                    @Html.EditorFor(model => model.UserEditDto.EmailAddress, new {htmlAttributes = new {@class = "input-text"}})
                    @Html.ValidationMessageFor(model => model.UserEditDto.EmailAddress, "", new {@class = "text-danger"})
                </div>
            </div>
            <input type="submit" value="提交"/>
        </div>
    }
