@using Abp.Extensions
@using Abp.Web.Mvc.Extensions
@model Vickn.Platform.Users.Dtos.GetUserForEdit

@{
    ViewBag.Title = "title";
}
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>修改我的头像</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user"></ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <ul class="nav nav-tabs" id="avatar-tab">
                    <li class="active" id="upload">
                        <a href="javascript:;">本地上传</a>
                    </li>
                </ul>
                <div class="m-t m-b" id="crop-avatar">
                    <div class="avatar-view" title="点击图片修改">
                        <input hidden="hidden" value="@Model.UserEditDto.Id" id="userId"/>
                        @if (!Model.UserEditDto.ProfilePictureId.IsNullOrEmpty())
                        {
                            <img src="@Model.UserEditDto.ProfilePictureId" id="ProfilePictureId" />
                        }
                        else
                        {
                            <img src="~/Images/头像.png" id="ProfilePictureId" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cropping modal -->
<div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="avatar-form" action="@Url.Action("UploadImg","File")" enctype="multipart/form-data" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="avatar-modal-label">修改头像</h4>
                </div>
                <div class="modal-body">
                    <div class="avatar-body">
                        <!-- Upload image and data -->
                        <div class="avatar-upload">
                            <input type="hidden" class="avatar-src" name="avatar_src">
                            <input type="hidden" class="avatar-data" name="avatar_data">
                            <label for="avatarInput">本地上传</label>
                            <input type="file" class="avatar-input" id="avatarInput" name="avatar_file">
                        </div>
                        <!-- Crop and preview -->
                        <div class="row">
                            <div class="col-md-9">
                                <div class="avatar-wrapper"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="avatar-preview preview-lg"></div>
                                <div class="avatar-preview preview-md"></div>
                                <div class="avatar-preview preview-sm"></div>
                            </div>
                        </div>
                        <div class="row avatar-btns">
                            <div class="col-md-3 col-md-offset-9">
                                <button type="submit" class="btn btn-primary btn-block avatar-save">完成</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div> -->
            </form>
        </div>
    </div>
</div><!-- /.modal -->
<!-- Loading state -->
<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
@section styles{
    <link href="~/Content/Hplus/js/plugins/cropper/cropper.min.css" rel="stylesheet" />
    @Html.IncludeStyle("~/Views/Users/ChangeProfilePic.css")
}
@section scripts{
    <script src="~/Content/Hplus/js/plugins/cropper/cropper.min.js"></script>
    @Html.IncludeScript("~/Views/Users/ChangeProfilePic.js")

}