@using System.Web.Optimization
@using Abp.Web.Mvc.Extensions
@using Vickn.Platform
@using Vickn.Platform.Users.Authorization
@{
    ViewBag.Menu = L("SystemManage");
    ViewBag.SubMenu = L("User");
    ViewBag.createBtn = L("CreateUser");
    ViewBag.editBtn = L("EditUser");

    ViewBag.ActiveMenu = "Users"; //The menu item will be active for this page.
}
<div class="row animated fadeInRight">
  <div class="col-md-2">
    <div class="organizationUnit ztree"></div>
  </div>
  <div class="col-md-10">
    <div class="ibox-content">
      <div class="form-inline">
        <div class="form-group">
          @if (IsGranted(UserAppPermissions.User_DeleteUser))
          {
            <a href="javascript:;" class="btn btn-danger" id="batchDelete"><span class="glyphicon glyphicon-trash"></span> @L("BatchDelete")</a>
          }
          @if (IsGranted(UserAppPermissions.User_CreateUser))
          {
            <a href="javascript:;" class="btn btn-primary" id="create" data-title="@ViewBag.createBtn">
              <span class="glyphicon glyphicon-plus"></span> @ViewBag.createBtn
            </a>
          }
          <input type="hidden" id="ouId" value="@ViewBag.ouId" />
          <input type="text" placeholder="@L("User.Name")" class="form-control" id="name" style="width: 250px;" />
          <button type="button" class="btn btn-success" id="search" name=""><span class="glyphicon glyphicon-search"></span> @L("Search")</button>
          <button type="button" class="btn btn-default" id="research"><span class="glyphicon glyphicon-refresh"></span> @L("ReSearch")</button>
        </div>
      </div>
      <div id="uploader" class="wu-example">
        <!--用来存放文件信息-->
        <div id="thelist" class="uploader-list"></div>
        <div class="btns"> 
          <div id="picker">导入用户</div>
        </div>
      </div>
    </div>

    <div class="ibox-content">
      <table class="table table-border table-bordered table-hover table-bg dataTable">
        <thead>
          <tr>
            <th width="25"><input type="checkbox" class="checkall"></th>
            <th>@L("User.Name")</th>
            <th>@L("User.UserName")</th>
            <th>警号</th>
            <th>职务</th>
            <th>@L("Phone")</th>
            <th>座机</th>
            <th>@L("IsEnable")</th>
            <th>@L("LastLoginTime")</th>
            <th>@L("Operational")</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
@section styles{
<link href="~/Content/Hplus/js/plugins/webuploader/webuploader.css" rel="stylesheet" />
  @Styles.Render("~/Bundles/lib/css/ztree/metro")
}
@section scripts{
<script src="~/Content/Hplus/js/plugins/webuploader/webuploader.js"></script>
  @Scripts.Render("~/Bundles/lib/js/ztree/core")
  @Html.IncludeScript("~/Views/OrganizationUnits/_OrganizationUnitTree.js")
  @Html.IncludeScript("~/Views/Users/Index.js")
}
