@using System.Web.Optimization
@using System.Web.UI.WebControls
@using System.Web.UI.WebControls.Expressions
@using Abp.Authorization
@using Abp.Web.Mvc.Extensions
@using Vickn.Platform.PbManagement.PbTitles.Authorization
@{
    ViewBag.Menu = L("PbTitles");
    ViewBag.SubMenu = L("PbTitle");
}

<div class="row animated fadeInRight">
  <div class="ibox-content">
    <div class="form-inline">
      <div class="form-group">
        <label>@L("PbTitle.Title")</label>
        <input type="text" placeholder="@L("FilterText")" class="form-control" id="filterText" style="width: 250px;" />

        <button type="button" class="btn btn-default" id="research"><span class="glyphicon glyphicon-refresh"></span> @L("ReSearch")</button>
        <button type="button" class="btn btn-success" id="search" name=""><span class="glyphicon glyphicon-search"></span> @L("Search")</button>
        @if (IsGranted(PbTitleAppPermissions.PbTitle_CreatePbTitle))
        {
            <a href="javascript:;" class="btn btn-primary" id="create">
              <span class="glyphicon glyphicon-plus"></span> @L("CreatePbTitle")
            </a>
        }
        @if (IsGranted(PbTitleAppPermissions.PbTitle_DeletePbTitle))
        {
            <a href="javascript:;" class="btn btn-danger" id="batchDelete"><span class="glyphicon glyphicon-trash"></span> @L("BatchDelete")</a>
        }

      </div>
    </div>
  </div>

  <div class="ibox-content">
    <table class="table table-border table-bordered table-hover table-bg dataTable">
      <thead>
        <tr>
          <th width="25"><input type="checkbox" class="checkall"></th>
          <th>@L("PbTitle.Title")</th>
          <th>@L("PbTitle.Month")</th>
          <th>@L("Operational")</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

@section styles{

}

@section scripts{
  @Html.IncludeScript("~/Areas/PbTitles/Views/PbTitle/index_js.js")
}

