@using System.Web.Optimization
@using System.Web.UI.WebControls
@using System.Web.UI.WebControls.Expressions
@using Abp.Authorization
@using Abp.Web.Mvc.Extensions
@using Vickn.Platform.Authorization.Roles.Authorization
@using Vickn.Platform.Users.Authorization
@{
    ViewBag.Menu = L("SystemManage");
    ViewBag.SubMenu = L("Role");
    ViewBag.createBtn = L("CreateRole");
    ViewBag.editBtn = L("EditRole");

    ViewBag.ActiveMenu = "Roles"; //The menu item will be active for this page.
}
<div class="ibox-content">
    <div class="form-inline">
        <div class="form-group">
            @if (IsGranted(RoleAppPermissions.Role_DeleteRole))
            {
                <a href="javascript:;" class="btn btn-danger" id="batchDelete"><span class="glyphicon glyphicon-trash"></span> @L("BatchDelete")</a>
            }
            @if (IsGranted(RoleAppPermissions.Role_CreateRole))
            {
                <a href="javascript:;" class="btn btn-primary" id="create" data-title="@ViewBag.createBtn">
                    <span class="glyphicon glyphicon-plus"></span> @ViewBag.createBtn
                </a>
            }
            <input type="text" placeholder="@L("Role.Name")" class="form-control" id="name" style="width: 250px;" />
            <button type="button" class="btn btn-success" id="search" name=""><span class="glyphicon glyphicon-search"></span> @L("Search")</button>
            <button type="button" class="btn btn-default" id="research"><span class="glyphicon glyphicon-refresh"></span> @L("ReSearch")</button>
        </div>
    </div>
</div>
<div class="ibox-content">
    <table class="table table-striped table-bordered table-hover dataTable">
        <thead>
            <tr>
                <th width="25"><input type="checkbox" class="checkall"></th>
                <th>@L("Role.Name")</th>
                <th>@L("Role.DisplayName")</th>
                <th>@L("Role.IsStatic")</th>
                <th>@L("Role.IsDefault")</th>
                <th>@L("Operational")</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="modal inmodal fade" id="modal-setPermission" tabindex="-1" role="dialog" aria-hidden="true" style="height:550px;">
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <h3 class="modal-title">设置角色权限</h3>
                <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
            </div>
            <div class="modal-body" id="content">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-SetPermissionOk">确定</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-backdrop {
        top: 1000px;
    }
</style>

@section styles{
    @Styles.Render("~/Bundles/lib/css/jstree")
}
@section scripts{
    @Scripts.Render("~/Bundles/lib/js/jstree")
    @Html.IncludeScript("~/Views/Roles/_PermissionTree.js")
    @Html.IncludeScript("~/Views/Roles/Index.js")
}
