@using System.Web.Optimization
@using Abp.Web.Mvc.Extensions
@using Abp.Timing
@using Vickn.Platform
@{
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="@PlatformConsts.AppName">
    <meta name="description" content="@PlatformConsts.AppName">

    <LINK rel="Bookmark" href="/favicon.ico">
    <LINK rel="Shortcut Icon" href="/favicon.ico" />

    <title>@PlatformConsts.AppName</title>
    <link rel="shortcut icon" href="~/favicon.ico">

    @Styles.Render("~/Bundles/vendor/css")
    @Styles.Render("~/Bundles/css")
    <!-- View specific styles -->
    @RenderSection("styles", required: false)

    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>
    @*<script src="~/Scripts/jquery-2.2.1.js"></script>*@
    @Scripts.Render("~/Bundles/vendor/js/top")

    <!--[if lt IE 9]>
    <script type="text/javascript" src="~/Content/H-ui.admin_v3.0/lib/html5shiv.js"></script>
    <script type="text/javascript" src="~/Content/H-ui.admin_v3.0/lib/respond.min.js"></script>
    <![endif]-->
    <!--[if IE 6]>
    <script src="~/Content/H-ui.admin_v3.0/lib/DD_belatedPNG_0.0.8a-min.js"></script>
            <script>DD_belatedPNG.fix('*');</script>
            <![endif]-->
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/Bundles/vendor/js/bottom")
    @Scripts.Render("~/Bundles/js")

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>

    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
