@using System.Web.Optimization
@using System.Web.UI.WebControls
@using System.Web.UI.WebControls.Expressions
@using Abp.Authorization
@using Abp.Web.Mvc.Extensions
@using Vickn.Platform.HandheldTerminals.Devices.Authorization
@{
    ViewBag.Menu = L("Devices");
    ViewBag.SubMenu = L("Device");
}

<div class="row animated fadeInRight">
    <div class="ibox-content">
        <div class="form-inline">
            <div class="form-group">
                <label>@L("FilterText")</label>
                <input type="text" placeholder="@L("FilterText")" class="form-control" id="filterText" style="width: 250px;" />

                <button type="button" class="btn btn-default" id="research"><span class="glyphicon glyphicon-refresh"></span> @L("ReSearch")</button>
                <button type="button" class="btn btn-success" id="search" name=""><span class="glyphicon glyphicon-search"></span> @L("Search")</button>
                @*@if (IsGranted(DeviceAppPermissions.Device_CreateDevice))
                    {
                        <a href="javascript:;" class="btn btn-primary" id="create">
                          <span class="glyphicon glyphicon-plus"></span> @L("CreateDevice")
                        </a>
                    }*@
                @if (IsGranted(DeviceAppPermissions.Device_DeleteDevice))
                {
                    <a href="javascript:;" class="btn btn-danger" id="batchDelete"><span class="glyphicon glyphicon-trash"></span> @L("BatchDelete")</a>
                }

            </div>
        </div>
    </div>

    <div class="ibox-content">
        <table class="table table-bordered table-hover dataTable">
            <thead>
                <tr>
                    <th width="25"><input type="checkbox" class="checkall"></th>
                    <th>姓名</th>
                    <th>警号</th>
                    <th>@L("Device.No")</th>
                    <th>@L("Device.Imei")</th>
                    <th>App版本</th>
                    <th>系统版本</th>
                    <th>是否在线</th>
                    <th>所处模式</th>
                    <th>地理位置</th>
                    <th>root状态</th>
                    <th>@L("Operational")</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section styles{

}

@section scripts{
    @Html.IncludeScript("~/Areas/Devices/Views/Device/index_js.js")
}

