@model Vickn.Platform.PbManagement.ChangeWorks.Dtos.ChangeWorkForEdit

@{
    ViewBag.Menu = L("ChangeWorks");
    ViewBag.SubMenu = L("ChangeWork");
}
<div class="ibox-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger summary-validation-error" })

        <div class="form-horizontal">
           
            <div class="hidden">
                @Html.HiddenFor(model => model.ChangeWorkEditDto.Id)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ChangeWorkEditDto.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ChangeWorkEditDto.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.ChangeWorkEditDto.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ChangeWorkEditDto.TimeStr, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.DropDownList("PbTime", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ChangeWorkEditDto.TimeStr, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.ChangeWorkEditDto.PositionName, htmlAttributes: new { @class = "control-label col-md-2", })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ChangeWorkEditDto.PositionName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.ChangeWorkEditDto.PositionName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ChangeWorkEditDto.Reason, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ChangeWorkEditDto.Reason, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ChangeWorkEditDto.Reason, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.ChangeWorkEditDto.BeTimeStr, htmlAttributes: new { @class = "control-label col-md-2",  })
                <div class="col-md-8">

                    @Html.DropDownList("BePbTime", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ChangeWorkEditDto.BeTimeStr, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ChangeWorkEditDto.BeUserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ChangeWorkEditDto.BeUserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ChangeWorkEditDto.BeUserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ChangeWorkEditDto.BePositionName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ChangeWorkEditDto.BePositionName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ChangeWorkEditDto.BePositionName, "", new { @class = "text-danger" })
                </div>
            </div>

       

        

            <div class="form-group">
                @Html.LabelFor(model => model.ChangeWorkEditDto.Leader, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.DropDownList("Leader", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ChangeWorkEditDto.Leader, "", new { @class = "text-danger" })
                </div>
            </div>




            @Html.Partial("/Views/Common/_FooterWithSaveAndCancel.cshtml")
        </div>
    }
</div>


@section styles{
    <style>
    </style>
}

@section scripts{

    <script src="~/Areas/ChangeWorks/Views/ChangeWork/Create_js.js"></script>

   
}
