@using System.Web.Optimization
@using System.Web.UI.WebControls
@using System.Web.UI.WebControls.Expressions
@using Abp.Authorization
@using Abp.Web.Mvc.Extensions
@using Vickn.Platform.PbManagement.ChangeWorks.Authorization
@{
    ViewBag.Menu = L("ChangeWorks");
    ViewBag.SubMenu = L("ChangeWork");
}

<div class="row animated fadeInRight">
    <div class="ibox-content">
        <div class="form-inline">
            <div class="form-group">
                <label>@L("FilterText")</label>
                <input type="text" placeholder="@L("FilterText")" class="form-control" id="filterText" style="width: 250px;" />

                <button type="button" class="btn btn-default" id="research"><span class="glyphicon glyphicon-refresh"></span> @L("ReSearch")</button>
                <button type="button" class="btn btn-success" id="search" name=""><span class="glyphicon glyphicon-search"></span> @L("Search")</button>
                @if (IsGranted(ChangeWorkAppPermissions.ChangeWork_CreateChangeWork))
                {
                    <a href="javascript:;" class="btn btn-primary" id="create">
                        <span class="glyphicon glyphicon-plus"></span> @L("CreateChangeWork")
                    </a>
                }
                @if (IsGranted(ChangeWorkAppPermissions.ChangeWork_DeleteChangeWork))
                {
                    <a href="javascript:;" class="btn btn-danger" id="batchDelete"><span class="glyphicon glyphicon-trash"></span> @L("BatchDelete")</a>
                }

            </div>
        </div>
    </div>

    <div class="ibox-content">
        <table class="table table-border table-bordered table-hover table-bg dataTable">
            <thead>
                <tr>
                    <th width="25"><input type="checkbox" class="checkall"></th>
                    <th>@L("ChangeWork.UserName")</th>
                    <th>@L("ChangeWork.TimeStr")</th>
                    <th>@L("ChangeWork.Reason")</th>
                    <th>@L("ChangeWork.PositionName")</th>

                    <th>@L("ChangeWork.BeUserName")</th>
                    <th>@L("ChangeWork.BeTimeStr")</th>
                    @*<th>@L("ChangeWork.BePositionName")</th>*@
                    <th>@L("ChangeWork.Status")</th>
                    @*<th>@L("ChangeWork.StatusDes")</th>*@
                    <th>@L("ChangeWork.Leader")</th>
                    <th>@L("ChangeWork.IsOnDuty")</th>
                    <th>@L("Operational")</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section styles{
    <style>
        .status_red {
            color:red;
        }
    </style>
}

@section scripts{
    @Html.IncludeScript("~/Areas/ChangeWorks/Views/ChangeWork/index_js.js")
}

