@model Vickn.Platform.Schedules.PlatoonGroups.Dtos.PlatoonGroupForEdit

@{
    ViewBag.Menu = L("PlatoonGroups");
    ViewBag.SubMenu = L("PlatoonGroup");
}
<div class="ibox-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger summary-validation-error" })

        <div class="form-horizontal">

		<div class="hidden">
			@Html.HiddenFor(model => model.PlatoonGroupEditDto.Id)
		            </div>

			  				  <div class="form-group">
                @Html.LabelFor(model => model.PlatoonGroupEditDto.PlatoonGroupName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PlatoonGroupEditDto.PlatoonGroupName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PlatoonGroupEditDto.PlatoonGroupName, "", new { @class = "text-danger" })
                </div>
				  </div>

                    				  <div class="form-group">
                @Html.LabelFor(model => model.PlatoonGroupEditDto.GroupLeaderName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PlatoonGroupEditDto.GroupLeaderName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PlatoonGroupEditDto.GroupLeaderName, "", new { @class = "text-danger" })
                </div>
				  </div>

                    
            @Html.Partial("/Views/Common/_FooterWithSaveAndCancel.cshtml")
    </div>
    }
        </div>


@section styles{
	<style>

	</style>
}

@section scripts{
   <script>

   </script>
}


