@using Abp.Collections.Extensions
@using Vickn.Platform.Web.Views
@model Vickn.Platform.Web.Models.Layout.TopMenuViewModel
@{
    var calculateMenuUrl = new Func<string, string>((url) =>
    {
        if (string.IsNullOrEmpty(url))
        {
            return ApplicationPath;
        }

        if (UrlChecker.IsRooted(url))
        {
            return url;
        }

        return ApplicationPath + url;
    });
}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close">
        <i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                @Html.Action("UserMenuOrLoginLink", "Layout")
            </li>
            @foreach (var menuItem in Model.MainMenu.Items)
            {
                <li>
                    <a href="#"><i class="@menuItem.Icon"></i> <span class="nav-label">@menuItem.DisplayName</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        @foreach (var subMenuItem in menuItem.Items)
                        {
                            <li>
                                @if (subMenuItem.Items.Count > 0)
                                {
                                    <a href="#">@subMenuItem.DisplayName <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        @foreach (var thirdMenuItem in subMenuItem.Items)
                                        {
                                            <li>
                                                <a class="J_menuItem" href="@calculateMenuUrl(thirdMenuItem.Url)">@thirdMenuItem.DisplayName</a>
                                            </li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <a class="J_menuItem" href="@calculateMenuUrl(subMenuItem.Url)">@subMenuItem.DisplayName</a>
                                }
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</nav>

