@model Vickn.Platform.PbManagement.Positions.Dtos.PositionForEdit

@{
    ViewBag.Menu = L("Positions");
    ViewBag.SubMenu = L("Position");
}
<div class="ibox-content">
  @using (Html.BeginForm())
  {
      @Html.AntiForgeryToken()

      @Html.ValidationSummary(true, "", new { @class = "alert alert-danger summary-validation-error" })

      <div class="form-horizontal">

        <div class="hidden">
          @Html.HiddenFor(model => model.PositionEditDto.Id)
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.PositionEditDto.Name, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-8">
            @Html.EditorFor(model => model.PositionEditDto.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PositionEditDto.Name, "", new { @class = "text-danger" })
          </div>
        </div>


        @Html.Partial("/Views/Common/_FooterWithSaveAndCancel.cshtml")
      </div>
  }
</div>


@section styles{
  <style>
  </style>
}

@section scripts{
  <script>

  </script>
}


